[project]
	description = Generates ODF files, given a template (.odt) and data, replacing tags
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Evgeniy (evgeniy-khatko)
[access "refs/for/refs/*"]
	read = group user/Evgeniy (evgeniy-khatko)
	push = group user/Evgeniy (evgeniy-khatko)
	label-Code-Review = -2..+2 group user/Evgeniy (evgeniy-khatko)
	label-Verified = -1..+1 group user/Evgeniy (evgeniy-khatko)
	rebase = group user/Evgeniy (evgeniy-khatko)
	removeReviewer = group user/Evgeniy (evgeniy-khatko)
	submit = group user/Evgeniy (evgeniy-khatko)
[access "refs/heads/*"]
	read = group user/Evgeniy (evgeniy-khatko)
	create = group user/Evgeniy (evgeniy-khatko)
	push = +force group user/Evgeniy (evgeniy-khatko)
	pushMerge = group user/Evgeniy (evgeniy-khatko)
[access "refs/tags/*"]
	push = group user/Evgeniy (evgeniy-khatko)
	push = +force group user/Evgeniy (evgeniy-khatko)
